.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 30px solid transparent;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

.In-Progress-Contents {
  background-color: #FFFFFF;
  border-radius: 30px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.In-Progress-Contents > .Title {
    color: black;
    font-size: x-large;
    font-weight: bolder;
    margin: 0px;
}

hr {
    border-color: black;
    background-color: black;
}

hr.rounded {
  border-top: 8px solid #000000;
  border-radius: 5px;
}
    
